.uno{
    margin: 400px; 
    margin-top: 50px;
    }
.imagen{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  flex-direction: column;

}
.image {    
    background-size:  cover ;    
    background-repeat: no-repeat;
    width: 100px;
    height:100px;      
    border: 1px solid var(--color1);
    border-radius: 20px;
    background-color: rgb(247, 240, 250);  
    color: var(--color1);
    margin-bottom: 5px;

  }
.uno .title{
  font-size: 36px!important;
}
.h1{
    margin-top: 20px;
    padding-top: 30px!important;
  
}
.text{
  margin-top: 20px;
  padding-top: 30px!important;
  font-size: 26px!important;
  display: flex;
  justify-content: center;
}
.button-grid {
  margin-top: 40px;
  display: grid;
  /* display: flex;si importa para 3 o mas columnas */
  /*flex-wrap: wrap; /*si importa para 3 o mas columnas*/
  /* justify-content: center; no importa mucho creo */
  grid-template-columns: 1fr 1fr; /*Dos columnas de ancho igual */
  gap: 40px; /* Espacio entre los botones */
  
}
.button-container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 800px;
  flex-wrap: wrap;
}

.button {
  border: 3px solid var(--color1);
  border-radius: 20px;
  background-color: rgb(255, 209, 209);
  border-radius: 20px;
  color: #000;
  /* padding: 10px 20px; */
  /* margin: 10px; */
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  flex: 1;
  max-width: 200px;
  padding: 20px;
  margin: 5px;
}

.button:hover {
  background-color: var(--color1);
}
.button[disabled]{
  background-color: #cecece;
  border: 3px solid rgb(0, 0, 0);

}
.mat-mdc-slide-toggle.mat-accent{
  --mdc-switch-selected-track-color: var(--color1);
  --mdc-switch-selected-handle-color:var(--color1);
}


/* Estilo para el contenedor de los campos de fecha */
.datepicker-container {
  
  background-color: var(--color1);
  display: flex; /* Utiliza flexbox para que estén lado a lado en la vista de PC */
  flex-wrap: wrap; /* Permitir que se envuelvan en la vista de PC si no hay suficiente espacio */
  justify-content: space-between; /* Espacio entre los campos de fecha en la vista de PC */
  margin: 50px;

  /* justify-content: center; */
  flex-direction: column;


}

/* Estilo para cada campo de fecha */
.mat-form-field {
  flex: 1; /* Ocupa todo el ancho disponible en la vista de PC */
  margin-right: 100px; /* Espacio entre los campos de fecha en la vista de PC */
}




@media ( max-width: 1300px) {
  .uno{
    margin: 100px; 
    margin-top: 50px;
    }
  .button {
    flex-basis: 20%;
  }
  .button-grid {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr; /* Dos columnas de ancho igual */
    gap: 40px; /* Espacio entre los botones */  
  }
  .uno .title{
    font-size: 30px!important;
  }
  .text{
    font-size: 22px!important;
  }
}
@media ( max-width: 700px) {
  .uno{
    margin: 10px; 
    margin-top: 50px;
    }
  .button {
    flex-basis: 20%;
  }
  .datepicker-container {
    flex-direction: column; /* Cambia a una columna en la vista móvil */
  }

  .mat-form-field {
    margin-right: 0; /* Quita el margen derecho en la vista móvil */
  }
  .button-grid {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr; /* Dos columnas de ancho igual */
    gap: 10px; /* Espacio entre los botones */    
  }
  .uno .title{
    font-size: 26px!important;
  }
  .text{
    font-size: 18px!important;
  }
}