<div class="uno">
  <h1 class="title">CITAS AGENDADAS</h1>
  <div class="imagen"  *ngFor="let resultados of resultados">
    <div class="image" ngDefaultControl   [ngStyle]="{ backgroundImage: 'url('+resultados.foto_shop+')', }" ></div>
    {{id}}
  </div>
  <!-- <p>{{ fecha  }}</p>
  <p>{{ fechadate  }}</p>
  <p>Fecha actual: {{ fechadate | date }}</p>
  <p>Fecha actual: {{ fechadate | date: 'dd/MM/yyyy' }}</p>

  <p>Fecha actual: {{ t }}</p>
  <p>Fecha actual: {{ datee | date: 'dd/MM/yyyy hh:mm:ss' }}</p>
  <p>{{ convertirATextoFecha(t) }}</p> --> 
  <div class="button-grid"  >      
    <ng-container *ngFor="let cat of cats">
      <div  class="card"  *ngIf="!cat.oculto">
        <div class="info"  >
          <!-- <div class="image" ngDefaultControl   [ngStyle]="{ backgroundImage: 'url('+cat.photo_r+')', }" ></div> -->
          <div class="salon-container">
            <h3 class="salon-label">CLIENTE:</h3>
            <p >{{cat.cliente_r}}</p>                
          </div>
          <div class="salon-container">
            <h3 class="salon-label">N° CELULAR:</h3>
            <p >{{cat.celular_r}}</p>                
          </div>
          <div class="salon-container">
            <h3 class="salon-label">CORREO:</h3>
            <p >{{cat.correo_r}}</p>                
          </div>
          <!-- <div class="salon-container">
            <h3 class="salon-label">SALÓN:</h3>
            <p >{{cat.salon_r}}</p>                
          </div> -->
          <div class="salon-container">
            <h3 class="salon-label">SERVICIO:</h3>
            <p >{{cat.servicio_r}}</p>                
          </div>
          <div class="salon-container">
            <h3 class="salon-label">ESP.:</h3>
            <p >{{cat.especialista_r}}</p>                
          </div>
          <div class="salon-container">
            <h3 class="salon-label">FECHA:</h3>
            <!-- <p>{{ cat.fechahora_r }}</p> -->
            <p>{{ convertirATextoFecha(cat.fechahora_r) }}</p>    
          </div>
          <div class="salon-container">
            <h3 class="salon-label">HORA:</h3>
            <p>{{ convertirAHora2(cat.fechahora_r) }}</p>      
            <!-- <p>{{ convertirATextoFecha(cat.fechahora_r) }}</p> -->      
            <!-- <p>{{ cat.fechahora_r  }}</p> -->
          </div>
          <div class="salon-container">
            <h3 class="salon-label">COMENTARIO:</h3>
            <p >{{cat.cliente_comentario_r}}</p>                
          </div>
          <div class="salon-container">
            <h3 class="salon-label">OPINION:</h3>
            <p >{{cat.opinion_r}}</p>                
          </div>
          <div class="salon-container">
            <h3 class="salon-label">CALIFICACIÓN:</h3>
            <!-- <p >{{cat.calificacion_r}}</p>          -->
            <ngb-rating [max]="5" [readonly]="true" [rate]="cat.calificacion_r">s</ngb-rating>        
          </div>
          <!-- <div class="salon-container">
            <h3 class="salon-label">OCULTO:</h3>
            <p >{{cat.oculto}}</p>                
          </div> -->
          
              <!-- {{id}}             -->
        </div>      
        <div class="image-container">
          <img src="/assets/iconmonstr-x-mark-square-lined.svg" alt="Logo de la aplicación" class="small-image" (click)="ocultar_reserva(cat.id!)">
        </div>
        <div class="image-container" >
          <a href="https://wa.me/{{cat.celular_r}}?text=*Hola {{cat.cliente_r}}, te escribimos del centro {{convertirCaracter(cat.salon_r)}}, Te recordamos que tienes una cita pendiente para el servicio de: *{{cat.servicio_r}}* el día *{{ convertirATextoFecha(cat.fechahora_r) }}* a horas: *{{ convertirAHora2(cat.fechahora_r) }}* con *{{cat.especialista_r}}*. Favor de confirmar la cita por este medio, gracias.">
            
            <img src="/assets/whatsapp.png" alt="Logo de la aplicación" class="small-image-2" >
          </a>
        </div>
      </div>
    </ng-container>
  </div>
</div>
  
  <!-- <div class="main " style="padding: 10px;"  >
      <div class="catss" >
        <h1 >CITAS AGENDADAS</h1>
  
          <div class="cuadro" *ngFor="let cat of cats" >
  
            <div class="lado lado-imagen"  [ngStyle]="{ backgroundImage: 'url('+cat.photo_r+')' }" >
  
            </div>
            
            <div class="lado lado-texto">
              
              <div class="salon-container">
                  <p class="salon-label">SALÓN:</p>
                  <p >{{cat.salon_r}}</p>                
              </div>
              <div class="salon-container">
              <p class="salon-label">SERVICIO:</p>
              <p >{{cat.servicio_r}}</p>                
              </div>
              <div class="salon-container">
              <p class="salon-label">ESP.:</p>
              <p >{{cat.especialista_r}}</p>                
              </div>
              <div >
              <p class="salon-label">FECHA:</p>
            </div>
              <div >
              <p class="salon-label">HORA:</p>
              </div>
              <div >
              <p class="salon-label">COMENTARIO:</p>
              <p >{{cat.cliente_comentario_r}}</p>                
              </div>
            
              <div class="image-container">
                  <img src="/assets/reviewstar.jpg" alt="Logo de la aplicación" class="small-image">
                </div>
                
          
            </div>
  
          </div>
      </div>
    
      <app-register></app-register> -->