<div class="uno">
    <p>Sesión: {{mail}}</p>
    <div class="button-grid" *ngFor="let resultadosShop of resultadosShop">
        <button routerLink="/categorias/">CATEGORÍAS</button>
        <button routerLink="/reservas/">MIS CITAS</button>
        <button routerLink="">INFO</button>
        <!-- /info-video/ -->
        <button (click)="onClickLogout()">CERRAR SESIÓN</button>
        <!-- <div  class="button-grid" *ngFor="let resultadosShop of resultadosShop"> -->
            <button class="centered" routerLink="/socio/{{resultadosShop.shop_user}}" *ngIf="resultadosShop.shop_user">MODO SOCIO</button>
        <!-- </div> -->
    </div>
</div>